[defaults]
# 1. 设置默认 inventory 文件路径。这样以后执行 Ansible playbook 时，无需每次手动带上 `-i inventories/local.ini` 参数。
inventory = inventories/local.ini

# 2. 设置 roles (角色) 的默认寻找路径。使得 playbook 可以按模块化拆分，极大提升代码复用性。
roles_path = roles

# 3. 关闭 SSH 主机密钥(Host Key)的自动检查。
# 在不断重建虚拟机的实验环境或 CI 自动化流程中，主机的 SSH 指纹会经常变化。关闭此选项可避免 Ansible 卡死在询问 'yes/no' 的交互界面。
host_key_checking = False

# 4. 禁用生成 .retry 文件。
# 默认配置下，playbook 执行失败会在当前目录生成一个垃圾冗余的 .retry 文件。在现代 CI/CD 流程中，报错后通常是修复代码然后重跑整条流水线，无需这种过时的本地重试机制。
retry_files_enabled = False

# 5. 改变终端输出的排版为易读的格式。
# 默认的 Ansible 输出格式是一大卷压缩在一起的类 JSON 数据，极难阅读。使用 debug 或 default 可以让输出变得非常优雅直观。
stdout_callback = debug

# 6. 确保 ad-hoc 测试命令 (例如直接敲 `ansible all -m ping`) 也能享受到上述优雅的 YAML 格式输出。
bin_ansible_callbacks = True
